<%= simple_form_for  @profile, html: {multipart: true} do |f| %>

  <p>
    <%= f.input :name, label: "Username:" %><br>
  </p>
  <p>
    <%= f.input :image_url, label: "Image URL:" %><br>
  </p>
  <p>
    <%= f.input :location , label: "Location:" %><br>
  </p>
  <p>
    <%= f.input :biography, label: "Biography:" %><br>
  </p>
  <p>
    <%= f.input :phone_number, label: "Phone Number:" %><br>
  </p>
  <p>
  	<%= f.button :submit %>
  </p>
<% end %>

