<div class="box">
  <div class="row">
    <div class="reviewform">
      <div class="col-lg-6 col-lg-offset-3">



        <%= simple_form_for  @profile, html: {multipart: true} do |f| %>

        <p>
          <%= f.input :name, label: "Username:" %><br>
        </p>
        <p>
          <%= f.input :image_url, label: "Image URL:" %><br>
        </p>
        <p>
          <%= f.input :location , label: "Location:" %><br>
        </p>
        <p>
          <%= f.input :biography, label: "Biography:" %><br>
        </p>
        <p>
          <%= f.input :phone_number, label: "Phone Number:", :class => "textbox"%><br>
        </p>
        <p>
         <%= f.button :submit, :class => "form-button"  %>
       </p>
       <% end %>

     </div>
   </div>
 </div>
</div>

