<%= form_for ([@user, @profile]), :html => { :multipart => true } do |f| %>
  <p>
    <%= f.input :name, label: "Username:" %><br>
  </p>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <p>
    <%= f.input :location %><br>
  </p>
  <p>
    <%= f.input :biography %><br>
  </p>
  <p>
    <%= f.input :phone_number %><br>
  </p>
  <p>
  	<%= f.button :submit %>
  </p>
<% end %>

