<br>
<ul> 
<li><%= @post.title %></li>

<% topic = Topic.find(@post.topic_id) %>

<li><%= topic.name %></li>
<li><%= @post.location %></li>
<li><%= @post.price %></li>
<li><%= @post.description %></li>
<li class="round-image-50"><%= image_tag(@user.avatar.url(:thumb)) %></li>

</ul>

<%= link_to "Send Contact Email", {:controller => "email", :action => "send_contact_email", :post => @post.id }, data: { confirm: 'Are you certain you want to contact this person? Upon clicking yes, we will send the poster an email with your contact information.' } %>

<br> 

<%= link_to "Home", root_path %>



