<br>
<ul> 
<li><%= @post.title %></li>

<% topic = Topic.find(@post.topic_id) %>

<li><%= topic.name %></li>
<li><%= @post.location %></li>
<li><%= @post.price %></li>
<li><%= @post.description %></li>
<li class="round-image-50"><%= image_tag(@user.avatar.url(:thumb)) %></li>

</ul>

<%= link_to "Home", root_path %>



