<h1>Welcome to our app</h1>

<%= link_to "Create a post", new_post_path %> 

<%= link_to "Looking for something?", looking_for_path %>

<%= link_to "Offering a service?", offering_path %> 

<%= link_to "See by area of interest", topics_path %>

<%= link_to "All Posts", posts_path %>